.header{
  list-style-type: none;
  margin: 10;
  overflow: hidden;
  margin-right: 16;
  font-family: Arial, sans-serif;
  font-size: 14;
}

#my-list {
  display: flex; /* Yana yaslamak için flexbox kullanıyoruz */
  align-items: center;
  justify-content: flex-end; /* Listeyi sağa yasla */
  gap:10px;
  margin-right: 20px;
}

.headerli {
  margin-left: 150px; /* Her bir liste öğesinin arasında boşluk bırak */
}
.headerli a{
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
.headerli a:hover{
  text-decoration: underline;
}

.container{
  text-align: center;
  margin: 100px;
}

.input{
  width:500px;
  border: none
}

input:focus{
  outline: none;
}

.googlesearch{
  margin: 11px 15px;
  padding: 5px 10px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.footer{
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  list-style-type: none;

}

.footerli{
  float: left;
}

.footerli a{
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
  

}

.footerli a:hover{
  text-decoration: underline;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  height:41px;
  border: 1px solid #dfe1e5;
  border-radius: 15px;
  padding: 0 16px;
}

.svg-box{
  width: 20px;
  height: 20px;
  cursor: pointer;
}